version: '3.3'

services:
  web:
    image: dockette/web:php-80
    volumes:
      - ./:/srv
    ports:
      - 80:80

    depends_on:
      - database

  database:
    image: mariadb:latest
    volumes:
      - .docker/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: contributte
      MYSQL_PASSWORD: contributte
      MYSQL_DATABASE: contributte

  adminer:
    image: dockette/adminer:dg
    ports:
      - 8081:8080
