{block content}
	{control grid}

	{include modal.confirm.latte, modalTitle => $modalTitle ?? 'Delete confirmation', $cancelLabel => $cancelLabel ?? 'Cancel', $deleteLabel => $deleteLabel ?? 'Delete'}
{/block}
