application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	router: App\Router\RouterFactory::create

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

dibi:
	host: database
	username: playground
	password: 'secret'
	port: 3306
	database: playground

session:
	savePath: "%tempDir%/../sessions"
