application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	router: App\Model\RouterFactory::create
	parameters: App\Model\Parameters(%parameters%)

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

latte:
	extensions:
		- Latte\Essential\RawPhpExtension

dibi:
	host: database
	username: contributte
	password: contributte
	database: contributte
	port: 3306

session:
	savePath: "%tempDir%/sessions"

parameters:
	vendorDir: %appDir%/../vendor
