{extends $originalTemplate}

{block detail}
	<h3>{$item['id']} - {$item['name']}</h3>
	<p>Status: {$item['status']}</p>
	<p>Template parameter: {$customParam}</p>
	{if isset($frm)}
		{$frm}
	{/if}
{/block}
