{**
 * @param $method
 *}
{php $method = new ReflectionMethod($control, $method)}
{php $filename = $method->getFileName()}
{php $start_line = $method->getStartLine() - 1}
{php $end_line = $method->getEndLine()}
{php $length = $end_line - $start_line}

{php $source = file($filename)}
{php $body = implode("", array_slice($source, $start_line, $length))}
{php $body = trim(preg_replace_callback('/^\t/m', function($i){ return ''; }, $body))}

{$body}
